#countryList .container {
  width: 335px;
  margin: 0 auto;
}
#countryList .title {
  height: 55px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}
#countryList ul li {
  height: 55px;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #757a89;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}
#countryList ul li .i-box {
  padding-right: 22px;
}
#countryList ul li .i-box i {
  position: relative;
  display: block;
  width: 19px;
  height: 14px;
  border: none;
  border-top: 2px solid rgba(204, 204, 204, 0.6);
  border-bottom: 2px solid rgba(204, 204, 204, 0.6);
}
#countryList ul li .i-box i::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 19px;
  height: 2px;
  background: rgba(204, 204, 204, 0.6);
  margin-top: -1px;
}
#countryList .head-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
#countryList .head-top .search {
  padding-top: 8px;
}
#countryList .head-top .search input {
  display: block;
  width: 137px;
  background: #f2f2f2;
  border-radius: 6px;
  height: 15px;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #532d2d;
  line-height: 15px;
  padding: 11px 88px 12px 110px;
  margin: 0 auto;
  background-image: url(../../../assets/timeSelector/zoom-out@2x.png);
  background-size: 18px;
  background-position: 88px center;
  background-repeat: no-repeat;
}
#countryList .head-top .search .long {
  padding: 11px 12px 12px 32px;
  width: 291px;
  background-position: 12px center;
}
#countryList .head-placeholder {
  height: 127px;
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #countryList .head-placeholder {
    height: 127px!important;
  }
  #countryList .head-placeholder {
    height: 141px!important;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #countryList .head-placeholder {
    height: 127px!important;
  }
  #countryList .head-placeholder {
    height: 141px!important;
  }
}
