#taxResult .container {
  width: 343px;
  margin: 0 auto;
}
#taxResult .top {
  position: relative;
  padding-top: 20px;
  background-image: url(../../../assets/tax-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#taxResult .top .top-head {
  background-image: url('../../../assets/white-head-arrow.png');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 16px center;
  height: 55px;
}
#taxResult .top .txt1 {
  padding: 12px 0 0 16px;
  height: 25px;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFangSC;
  font-weight: 500;
  color: #ffffff;
  line-height: 25px;
}
#taxResult .top .txt2 {
  padding: 26px 0 0 16px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFangSC;
  font-weight: 500;
  color: #ffffff;
  line-height: 20px;
}
#taxResult .top .txt3 {
  padding: 6px 0px 35px 16px;
  height: 48px;
  font-size: 34px;
  font-family: DINAlternate-Bold, DINAlternate;
  font-weight: bold;
  color: #ffffff;
  line-height: 48px;
  text-shadow: 0px 2px 4px #20606d;
}
#taxResult .top .top-content {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.04);
  border-radius: 15px;
}
#taxResult .top .top-content .content-top li {
  flex: 1;
  width: 62px;
}
#taxResult .top .top-content .content-top li .content-num {
  padding-top: 24px;
  height: 20px;
  font-size: 17px;
  font-family: DINAlternate-Bold, DINAlternate;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
}
#taxResult .top .top-content .content-top li .content-txt {
  padding: 7px 0 23px;
  height: 17px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 17px;
}
#taxResult .top2 .txt2 {
  padding-top: 10px;
}
#taxResult .top2 .txt3 {
  padding-top: 6px;
  padding-bottom: 0;
}
#taxResult .top2 .txt4-box {
  margin-bottom: 21px;
}
#taxResult .top2 .txt4-box .txt4 {
  display: inline;
  padding: 5px 12px;
  margin-left: 16px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 13px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #ffffff;
}
#taxResult .top2 .top-content .content-top {
  width: 316px;
  margin-left: 27px;
}
#taxResult .top2 .top-content .content-top .special span {
  display: inline-block;
  vertical-align: middle;
}
#taxResult .top2 .top-content .content-top .special img {
  width: 10px;
  transform: rotate(-90deg);
}
#taxResult .top2 .top-content .content-top .showMore img {
  transform: rotate(0);
}
#taxResult .top2 .top-content .content-middle {
  display: none;
  width: 100%;
  height: 5px;
  background-color: #F7F7F7;
}
#taxResult .top2 .top-content .content-bottom {
  display: none;
  padding: 13px 0 15px;
}
#taxResult .top2 .top-content .content-bottom li {
  height: 24px;
  width: 289px;
  margin: 0 auto;
  font-size: 13px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #4f4f4f;
}
#taxResult .bottom {
  min-height: 453px;
  padding-bottom: 57px;
  padding-top: 24px;
  margin-top: 15px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
}
#taxResult .bottom .container2 {
  width: 310px;
  margin: 0 auto;
}
#taxResult .bottom .formula-content {
  padding-bottom: 12px;
}
#taxResult .bottom .formula-content .title {
  margin-bottom: 2px;
  height: 20px;
  font-size: 14px;
  font-family: PingFang-SC-Bold, PingFang-SC;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
}
#taxResult .bottom .formula-content .formula {
  margin-top: 10px;
  font-size: 13px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #555555;
  line-height: 21px;
}
#taxResult .bottom .formula-content .formula strong {
  font-weight: 500;
  color: #000000;
}
#taxResult .bottom .table-content .title {
  padding-top: 13px;
  height: 17px;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #000000;
  line-height: 20px;
}
#taxResult .bottom .table-content table {
  width: 100%;
  margin-top: 12px;
}
#taxResult .bottom .table-content table tr:first-child {
  background: #e6f1f1;
}
#taxResult .bottom .table-content table tr:first-child td {
  border: 1px solid #979797;
  height: 32px;
  font-size: 9px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #000000;
}
#taxResult .bottom .table-content table td {
  border: 1px solid #979797;
  height: 23px;
  font-size: 9px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #000000;
}
#taxResult .bottom .table-content table td div {
  height: 100%;
  line-height: 13px;
}
#taxResult .bottom .table-content table td:nth-child(1) {
  width: 47px;
}
#taxResult .bottom .table-content table td:nth-child(2) {
  width: 143px;
}
#taxResult .bottom .table-content table td:nth-child(3) {
  width: 42px;
}
#taxResult .bottom .table-content table td:nth-child(4) {
  width: 78px;
}
#taxResult .bottom .tip {
  margin-top: 13px;
  height: 20px;
  font-size: 12px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: #b3b3b3;
  line-height: 20px;
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #taxResult .top {
    padding-top: 34px!important;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #header .top {
    padding-top: 34px!important;
  }
}
