.state {
  padding: 16px 0;
  background: #fff;
  margin-bottom: 5px;
}
.state .state-top {
  margin-bottom: 14px;
  height: 21px;
}
.state .state-top .state-tx {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.state .state-top .state-tx img {
  width: 100%;
  display: block;
}
.state .state-top .state-ellipsis {
  width: 24px;
  height: 24px;
}
.state .state-top .state-inf {
  flex: 1;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cdcdcd;
}
.state .state-top .state-inf .state-name {
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-size: 15px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #1b1b1b;
}
.state .state-top .state-inf .state-img {
  margin-left: 4px;
  width: 12px;
  margin-right: 2px;
}
.state .state-top .state-inf .state-version {
  margin-left: 10px;
}
.state .state-top .state-ellipsis img {
  width: 100%;
  display: block;
}
.state .state-middle .middle-txt {
  font-size: 15px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #4c4c4c;
  line-height: 21px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.state .state-middle .middle-txt span {
  color: #709E91;
}
.state .state-middle .middle-reply {
  padding: 10px 15px 14px;
  box-sizing: border-box;
  background: #f7f7f7;
  border-radius: 4px;
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #8e8e8e;
  line-height: 17px;
}
.state .state-middle .middle-reply .reply-img {
  margin-bottom: 4px;
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #7e8591;
  line-height: 17px;
}
.state .state-middle .middle-reply .reply-img img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.state .state-middle .middle-img-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: stretch;
  width: 339px;
  margin: 5px auto 0;
}
.state .state-middle .middle-img-list .middle-img {
  width: 108px;
  height: 108px;
  overflow: hidden;
  margin: 2.5px 2.5px 0 2.5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.state .state-middle .middle-img-list .middle-img img {
  width: 100%;
  display: block;
}
.state .state-bottom {
  margin-top: 15px;
  height: 20px;
  font-size: 15px;
  font-family: DINAlternate-Bold;
  font-weight: bold;
  color: #7e8591;
}
.state .state-bottom .state-reply {
  padding: 4px 13px;
  height: 18px;
  font-size: 13px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #7e8591;
  line-height: 18px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
.state .state-bottom img {
  width: 20px;
  margin-right: 4px;
}
.state .state-bottom i {
  position: relative;
  margin-right: 4px;
  margin-left: 24px;
  font-style: normal;
  width: 20px;
  height: 20px;
}
.state .state-bottom i::before {
  position: absolute;
  bottom: 0;
  content: '';
  width: 20px;
  height: 60px;
  background-image: url('../../assets/statement/upGray.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;
}
.state .state-bottom .isUp::before {
  background-image: url('../../assets/statement/upGreen.png');
}
.state .state-bottom .state-operate .like {
  color: #7BC3A1;
}
.state .state-bottom .animate span.center-v {
  color: #7BC3A1;
}
.state .state-bottom .animate span.center-v ::before {
  background-image: url('../../assets/statement/giveUp01.png');
  animation: test-gif 1s steps(25, start) 0ms;
}
.state .state-time {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #c1c1c1;
}
.getUp .state-bottom {
  height: 0;
  margin: 0;
}
@keyframes test-gif {
  0% {
    background-image: url('../../assets/statement/giveUp01.png');
  }
  4% {
    background-image: url('../../assets/statement/giveUp02.png');
  }
  8% {
    background-image: url('../../assets/statement/giveUp03.png');
  }
  12% {
    background-image: url('../../assets/statement/giveUp04.png');
  }
  16% {
    background-image: url('../../assets/statement/giveUp05.png');
  }
  20% {
    background-image: url('../../assets/statement/giveUp06.png');
  }
  24% {
    background-image: url('../../assets/statement/giveUp07.png');
  }
  28% {
    background-image: url('../../assets/statement/giveUp08.png');
  }
  32% {
    background-image: url('../../assets/statement/giveUp09.png');
  }
  36% {
    background-image: url('../../assets/statement/giveUp10.png');
  }
  40% {
    background-image: url('../../assets/statement/giveUp11.png');
  }
  44% {
    background-image: url('../../assets/statement/giveUp12.png');
  }
  48% {
    background-image: url('../../assets/statement/giveUp13.png');
  }
  52% {
    background-image: url('../../assets/statement/giveUp14.png');
  }
  56% {
    background-image: url('../../assets/statement/giveUp15.png');
  }
  60% {
    background-image: url('../../assets/statement/giveUp16.png');
  }
  64% {
    background-image: url('../../assets/statement/giveUp17.png');
  }
  68% {
    background-image: url('../../assets/statement/giveUp18.png');
  }
  72% {
    background-image: url('../../assets/statement/giveUp19.png');
  }
  76% {
    background-image: url('../../assets/statement/giveUp20.png');
  }
  80% {
    background-image: url('../../assets/statement/giveUp21.png');
  }
  84% {
    background-image: url('../../assets/statement/giveUp22.png');
  }
  88% {
    background-image: url('../../assets/statement/giveUp23.png');
  }
  92% {
    background-image: url('../../assets/statement/giveUp24.png');
  }
  96% {
    background-image: url('../../assets/statement/giveUp25.png');
  }
  to {
    background-image: url('../../assets/statement/giveUp25.png');
  }
}
