html{
    background-color: rgba(247,247,247,1);
    #statement{
        background-color: rgba(247,247,247,1);
        .statement-tip{
            padding-bottom:25px;
            font-size:15px;
            font-family:PingFangSC-Regular;
            font-weight:400;
            color:rgba(155,155,155,1);
            line-height:21px;
            background-color:#fff;
            text-align:center;
        }
        .statement{
            position: sticky;
            top:0;
            left:0;
            width:100%;
            .container{
                height:46px;
                background-color:transparent;
                .statement-num{
                    font-size:13px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(155,155,155,1);
                }
                .statement-sort{
                    position: relative;
                    padding-right:12px;
                    font-size:13px;
                    font-family:PingFangSC-Semibold;
                    font-weight:600;
                    color:rgba(126,133,145,1);
                }
                .statement-sort:before{
                    position: absolute;
                    right:0;
                    top:5px;
                    content: '';
                    width:0;
                    height:0;
                    border:5px solid transparent;
                    border-top-color: #7E8591;
                }
            }
        }
        .list-box{
            padding-bottom: 86px;
            .list-item{
                position: relative;
                padding: 17px 0;
                margin-bottom:5px;
                background: #fff;
                .list-title{
                    height:24px;
                    font-size:15px;
                    font-family:PingFangSC-Medium;
                    font-weight:500;
                    color:rgba(27,27,27,1);
                    .list-name{
                        vertical-align: middle;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .list-name-img{
                            margin-left:7px;
                            width:20px;
                            height:20px;
                            border-radius:100%;
                            overflow: hidden;
                            display:inline-block;
                        }
                        .list-name-txt{
                            font-size:15px;
                            font-family:PingFangSC-Medium;
                            font-weight:500;
                            color:#1B1B1B;
                        }
                        .list-gray-txt{
                            font-size:12px;
                            font-family:PingFangSC-Regular;
                            font-weight:400;
                            color:rgba(205,205,205,1);
                        }
                        .list-name-logo{
                            width:12px;
                        }
                        .list-version{
                            margin-left:10px;
                        }
                    }
                }
                .list-content-txt{
                    margin:12px auto 10px;
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-size:15px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(76,76,76,1);
                    line-height:21px;
                }
                .list-content-img-list{
                    margin:0 auto 15px;
                    width:90.4%;
                    display:flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: flex-start;
                    align-content: stretch;
                    .list-content-img{
                        border-radius:4px;
                        margin-left:2.5px;
                        width:108px;
                    }
                }
                .list-bottom{
                    vertical-align: middle;
                    line-height:20px;
                    height:20px;
                    font-size:15px;
                    font-family:DINAlternate-Bold;
                    font-weight:bold;
                    color:rgba(126,133,145,1);
                    img{
                        width:20px;
                    }
                    .up{
                        margin-left:24px;
                    }
                    .like{
                        color:#7BC3A1;
                    }
                    .list-time{
                        font-size:12px;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(193,193,193,1);
                    }
                }
            }
        }
        .input-box{
            position: fixed;
            bottom:0;
            left:0;
            width: 100%;
            height:77px;
            background-color:#fff;
            .input{
                margin-top:8px;
                padding:0 15px;
                box-sizing: border-box;
                height:36px;
                background:rgba(244,244,244,1);
                border-radius:19px;
                img{
                    width:16px;
                    height:16px;
                }
                span{
                    margin-left:3px;
                    flex:1;
                    height:21px;
                    font-size:15px;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(193,193,193,1);
                    line-height:21px;
                    background:rgba(244,244,244,1);
                }
            }
        }
        .pop-txt{
            position: fixed;
            bottom:0;
            left:0;
            width:100%;
            background:#fff;
            textarea{
                border:1px solid red;
            }
        }
    }
}