#app{
    height:100%;
}
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, 
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, 
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, 
ol, ul, li,fieldset, form, label, legend,table, caption, tbody, 
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption, 
figure, footer, header, hgroup, menu, nav, section, summary,time, mark, 
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
    outline-style:none;/*FF*/ 
}
html{
    background-color: #fff;
}
body{
    line-height:1;
}

/* 页面不可复制 */
*{
    -webkit-touch-callout: none!important; /*系统默认菜单被禁用*/
    -webkit-user-select: none!important; /*webkit浏览器*/
    -khtml-user-select: none!important; /*早起浏览器*/
    -moz-user-select: none!important; /*火狐浏览器*/
    -ms-user-select: none!important; /*IE浏览器*/
    user-select: none!important; /*用户是否能够选中文本*/
}
input,select,textarea {
    -webkit-user-select:auto!important; /*webkit浏览器*/
    user-select: auto!important; /*用户是否能够选中文本*/
}

a{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:hover,a:focus{
    text-decoration:none;
    bblr:expression(this.onFocus=this.blur());/*IE*/
    outline-style:none;/*FF*/ 
    }
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select, textarea, button {
    vertical-align:middle;
    outline: none;
    border:none;
}

/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}