@base:0.02666666rem;
*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
img{
    width:100%;
}
[c-cloak]{
    display:none;
}
/*
    两侧对齐，垂直居中
*/
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
    仅两侧对齐
*/
.between{
    display: flex;
    justify-content: center;
}
/*
    水平居中，垂直居中
*/
.center-vh{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
    垂直居中，水平居右
*/
.center-vr{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
/*
    垂直居中，水平居左
*/
.center-vl{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
/*
    宽度为百分之89.333且居中
*/
.container{
    width:89.33333%;
    margin:0 auto;
}
/*
    垂直居中
*/
.center-v{
    display: flex;
    align-items: center;
}
/*
    黑影遮罩
*/
.pop{
    display:none;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.6);
    z-index:100;
}
.pop .list-tip{
    display: none;
    position:absolute;
    top:0;
    right:0;
    z-index:100;
}
.pop .list-tip .center-vh{
    width:103px;
    height:57px;
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(76,76,76,1);
    background:#fff;
    border-radius:4px;
}
.pop .list-tip .center-vh span{
    margin-right:13px;
    display:inline-block;
    width:12px;
    height:12px;
    border:1px solid red;
}
.pop.show{
    display:block;
}
.pop .list-sort{
    display: none;
    position:absolute;
    top:0;
    right:0;
    z-index:100;
    width:149px;
    border-radius:8px;
    overflow:hidden;
}
.pop .list-sort li{
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(155,155,155,1);

    width:100%;
    height:51px;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.pop .list-sort li:last-child{
    border:none;
}
.pop .list-sort li.chosen{
    color:rgba(123,195,161,1);
}
.pop .list-tip.unshow{
    display:none;
}
.pop .list-sort.unshow{
    display:none;
}

/*
    评论 & 回复弹框
*/
.pop-comment{
    // display:none;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,1);
    z-index:100;
}
.pop-comment .comment{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#fff;
    border-radius:16px 16px 0px 0px;
}
.pop-comment .comment .comment-top{
    border-bottom:1px solid #eee;
}
.pop-comment .comment .comment-top .container{
    height:59px;
}
.pop-comment .comment .comment-top .comment-close{
    width:68px;
    font-size:12px;
    color:#C9C9C9;
    text-align: left;
}
.pop-comment .comment .comment-top .comment-btn{
    width: 68px;
    height:28px;
    background:rgba(123,195,161,1);
    border-radius:24px;
    font-size:15px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.pop-comment .comment .comment-top .comment-title{
    flex:1;
    text-align:center;
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(27,27,27,1);
}
.pop-comment .comment .comment-txt{
    padding:12px 0 0 0;
}
.pop-comment .comment .comment-txt textarea{
    width:100%;
    height:65px;
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(123,195,161,1);
    line-height:22px;
}
.pop-comment .comment .comment-txt .textarea{
    width:100%;
    height:65px;
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(123,195,161,1);
    line-height:22px;
}
.pop-comment .comment .comment-emoji{
    height:53px;
}
.pop-comment .comment .comment-emoji .emoji{
    width:18px;
    height:18px;
    border:1px solid gold;
}
.pop-comment .comment .comment-emoji .emoji-txt{
    height:21px;
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(154,185,173,1);
    line-height:21px;
    text-align:right;
}
// 强提示
.strong-tip{
    border:1px solid red;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
}
.strong-tip .strong-con{
    width:280px;
    background-color:#fff;
    border-radius:10px;
}
.strong-tip .strong-btn span{
    flex:1;

}



.emotion {
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
  }
  .text {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
    resize: none;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 8px;
  }
  .text-place {
    height: 80px;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 8px;
    background: #ddd5d5;
  }
  .text-place p {
    display: flex;
    align-items: center;
    margin: 0;
  }