@base:0.02666666rem;
*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
img{
    width:100%;
}
[c-cloak]{
    display:none;
}
/*
    两侧对齐，垂直居中
*/
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
    仅两侧对齐
*/
.between{
    display: flex;
    justify-content: center;
}
/*
    水平居中，垂直居中
*/
.center-vh{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
    垂直居中，水平居右
*/
.center-vr{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
/*
    垂直居中，水平居左
*/
.center-vl{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
/*
    宽度为百分之89.333且居中
*/
.container{
    width:89.33333%;
    margin:0 auto;
}
/*
    垂直居中
*/
.center-v{
    display: flex;
    align-items: center;
}
/*
    弱提示
*/
.weakTip{
    display: none;
    position: fixed;
    top:45%;
    left:50%;
    transform: translateX(-50%);
    z-index:200;
    border-radius:6px;
    padding:10px 13px;
    background:rgba(0,0,0,0.6);
    font-size:16px;
    color:#fff;
    text-align: center;
    transition: all 500ms;
    white-space: nowrap;
}

