#cacultResult{
    head{
        background-color:#fff;
        padding-top:20px;
        height:60px;
        i{
            width:42px;
            height:100%;
            background-image: url(../../../assets/header/arrow.png);
            background-repeat: no-repeat;
            background-size: auto 17px;
            background-position: 25px center;
        }
        .top-box{
            position: relative;
            width:186px;
            height:34px;
            background:rgba(245,245,245,1);
            border-radius:8px;
            .top{
                position: relative;
                width:82px;
                font-size:16px;
                font-family:PingFangSC;
                font-weight:400;
                color:rgba(190,190,190,1);
                text-align:center;
                z-index: 1;
            }
        }
        .top-box:before{
            content: '等额本息';
            position: absolute;
            right:auto;
            top:0;
            left:0;
            width:104px;
            height:34px;
            background:rgba(104,196,161,1);
            border-radius:8px;
            z-index: 2;
            font-size:16px;
            font-family:PingFangSC;
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:34px;
            text-align: center;
        }
        .top-box.right:before{
            content: '等额本金';
            left:auto;
            right:0;
        }
    }
    .show1-container{
        padding-top:3px;
        background-color:#fff;
        .show1{
            li{
                padding:17px 0;
                width:33.3333333%;
                .show1-box{
                    width:60px;
                    font-size:15px;
                    font-family:PingFangSC;
                    font-weight:400;
                    color:rgba(117,122,137,1);
                    text-align:center;
                    .show1-top{
                        height:21px;
                        line-height:21px;
                    }
                    .show1-bottom{
                        height:22px;
                        font-size:16px;
                        font-family:PingFangSC;
                        font-weight:500;
                        color:rgba(104,196,161,1);
                        line-height:22px;
                        margin-top:5px;
                    }
                }
            }
        }
    }
    table{
        width:100%;
        tr{
            td{
                height:50px;
                font-size:12px;
                font-family:PingFangSC;
                font-weight:400;
                color:rgba(117,122,137,1);
                line-height:50px;
                text-align:center;
            }
            td:first-child{
                width:68px;
            }
            td:last-child{
                width:102px;
            }
        }
        tr:first-child{
            td{
                font-size:14px;
                font-family:PingFangSC;
                font-weight:400;
                color:rgba(60,60,60,1);
            }
        }
        tr:nth-child(even){
            background-color:#fff;
        }
    }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
    #cacultResult .head{
        padding-top:34px!important;
    }
}