html {
  background-color: #f7f7f7;
}
html #statement {
  background-color: #f7f7f7;
}
html #statement .statement-tip {
  padding-bottom: 25px;
  font-size: 15px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #9b9b9b;
  line-height: 21px;
  background-color: #fff;
  text-align: center;
}
html #statement .statement {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
html #statement .statement .container {
  height: 46px;
  background-color: transparent;
}
html #statement .statement .container .statement-num {
  font-size: 13px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #9b9b9b;
}
html #statement .statement .container .statement-sort {
  position: relative;
  padding-right: 12px;
  font-size: 13px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #7e8591;
}
html #statement .statement .container .statement-sort:before {
  position: absolute;
  right: 0;
  top: 5px;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #7E8591;
}
html #statement .list-box {
  padding-bottom: 86px;
}
html #statement .list-box .list-item {
  position: relative;
  padding: 17px 0;
  margin-bottom: 5px;
  background: #fff;
}
html #statement .list-box .list-item .list-title {
  height: 24px;
  font-size: 15px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #1b1b1b;
}
html #statement .list-box .list-item .list-title .list-name {
  vertical-align: middle;
}
html #statement .list-box .list-item .list-title .list-name span {
  display: inline-block;
  vertical-align: middle;
}
html #statement .list-box .list-item .list-title .list-name .list-name-img {
  margin-left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}
html #statement .list-box .list-item .list-title .list-name .list-name-txt {
  font-size: 15px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #1B1B1B;
}
html #statement .list-box .list-item .list-title .list-name .list-gray-txt {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #cdcdcd;
}
html #statement .list-box .list-item .list-title .list-name .list-name-logo {
  width: 12px;
}
html #statement .list-box .list-item .list-title .list-name .list-version {
  margin-left: 10px;
}
html #statement .list-box .list-item .list-content-txt {
  margin: 12px auto 10px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #4c4c4c;
  line-height: 21px;
}
html #statement .list-box .list-item .list-content-img-list {
  margin: 0 auto 15px;
  width: 90.4%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: stretch;
}
html #statement .list-box .list-item .list-content-img-list .list-content-img {
  border-radius: 4px;
  margin-left: 2.5px;
  width: 108px;
}
html #statement .list-box .list-item .list-bottom {
  vertical-align: middle;
  line-height: 20px;
  height: 20px;
  font-size: 15px;
  font-family: DINAlternate-Bold;
  font-weight: bold;
  color: #7e8591;
}
html #statement .list-box .list-item .list-bottom img {
  width: 20px;
}
html #statement .list-box .list-item .list-bottom .up {
  margin-left: 24px;
}
html #statement .list-box .list-item .list-bottom .like {
  color: #7BC3A1;
}
html #statement .list-box .list-item .list-bottom .list-time {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #c1c1c1;
}
html #statement .input-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #fff;
}
html #statement .input-box .input {
  margin-top: 8px;
  padding: 0 15px;
  box-sizing: border-box;
  height: 36px;
  background: #f4f4f4;
  border-radius: 19px;
}
html #statement .input-box .input img {
  width: 16px;
  height: 16px;
}
html #statement .input-box .input span {
  margin-left: 3px;
  flex: 1;
  height: 21px;
  font-size: 15px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #c1c1c1;
  line-height: 21px;
  background: #f4f4f4;
}
html #statement .pop-comment {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
html #statement .pop-comment .comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 16px 16px 0px 0px;
}
html #statement .pop-comment .comment .comment-top {
  border-bottom: 1px solid #eee;
}
html #statement .pop-comment .comment .comment-top .container {
  height: 59px;
}
html #statement .pop-comment .comment .comment-top .comment-close {
  width: 68px;
  font-size: 12px;
  color: #C9C9C9;
  text-align: left;
}
html #statement .pop-comment .comment .comment-top .comment-btn {
  width: 68px;
  height: 28px;
  background: #7bc3a1;
  border-radius: 24px;
  font-size: 15px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
}
html #statement .pop-comment .comment .comment-top .comment-title {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #1b1b1b;
}
html #statement .pop-comment .comment .comment-txt {
  padding: 12px 0;
}
html #statement .pop-comment .comment .comment-txt textarea {
  width: 100%;
  height: 53px;
}
