#strong-tip {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
#strong-tip .strong-con {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 18px;
  transform: scale(0);
  transition: all 500ms;
}
#strong-tip .strong-con .strong-top {
  height: 80px;
  border-bottom: 1px solid #eee;
}
#strong-tip .strong-con .strong-btn span {
  height: 58px;
  flex: 1;
}
#strong-tip .strong-con .strong-btn .confirm {
  border-left: 1px solid #eee;
  color: #fff;
  background-color: #56A687;
}
#strong-tip .strong-con.show {
  transition: all 500ms;
  transform: scale(1);
}
